@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: 'Lato', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
}

.navbar{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  background: #BE3144;
  font-family: Poppins;
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
}
.nav-link{
  font-size: 22px;  
  text-decoration: none;
  display: block;
  padding: 0.9em;
  color: white;
}
a:hover {
    background: #457ebe;
}


@media all and (max-width: 600px) {
    .navbar {
      flex-flow: column wrap;
      padding: 0;
    }
    .navbar a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
   
  }
  @media all and (max-width: 800px) {
    .navbar {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      justify-content: space-around;
    }

    label{
        font-size: 8px;
    }

  }
  
  /* Small screens */
  @media all and (max-width: 600px) {
    .navbar {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
      
    }
  .welcome-section {
  text-align: center;
}

    label{
        font-size: 5px;
    }

  .ababati{
    position: relative;
    left: 40%;
  }
  .welcome-section h1{
    font-size: 60px;
    font-family: Raleway, sans-serif;
    margin-top: 300px;
  
  }
  }
  

.welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -8px;
    height: 791px;
    color: white;
    background: linear-gradient(-120deg, rgb(24, 24, 24), rgb(61, 61, 61));
    
}
.welcome-section h1{
  font-size: 60px;
  font-family: Raleway, sans-serif;

}

.welcome-section p{
  font-size: 30px;
  font-weight: 200;
  font-family: poppins, sans-serif;
  color: #f37889;
  position: relative;
  bottom: 60px;
}

.projects{
  background-color: #4b5772;
  margin: 5px -8px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;

}
.projects header h2{
    text-align: center;
    font-size: 40px;
}

#project-tile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-img-top{
    width: 380px;
    height: 330px;
}

a{
  text-decoration: none;
  color: white;
  font-size: 23px;
}

.selection{
    background-color: #4b5772;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;
   
    
}

label{
    font-size: 19px;
}


#submit {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    left: 40%;
    bottom: 10px;
    
    
   }
   
   #submit:hover {
    background-color: #BE3144;
    box-shadow: 0px 15px 20px rgba(235, 55, 55, 0.4);
    color: #fff;
    transform: translateY(-7px);
   }
   
   #submit:active {
    transform: translateY(-1px);
   }

   #img{
       margin: 20px auto 20px auto;
      position: relative;
      left: 40%;
   }




